.navbar-brand {
    padding-left: 15px;
    padding-right: 15px;
}

.wrap {
    word-break: break-all;
}

.btn-sml {
    height: 2vh;
    line-height: 0.5;
}

.sticky-top {
    position: initial !important;
}

a.nav-link {
    cursor: pointer;
}

.navbar {
    justify-content: left !important;
}

.nav-h1 {
    margin-left: 50px;
}

.sticky-top {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.logoimg {
    margin:25px;
}